<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangsf.ums.mapper.sys.OccupationMapper">
    <resultMap id="CommonResult" type="com.huangsf.ums.entity.UserOccupation">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="describe_" jdbcType="VARCHAR" property="describe"/>
    </resultMap>
</mapper>