<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangsf.ums.mapper.sys.OccupationMapper">


    <select id="listOccupation" resultMap="CommonResult">

        select a.id,a.name,a.org_id,a.status,a.describe_,b.name as organization_name
                       from user_occupation a
                                left join  user_organization b
                                           on a.org_id = b.id

    </select>
</mapper>
